.hoverActiveParent.border{
    outline: 3px solid yellow !important;
}

#SentenceSegmentationPopup{
    width:250px;
}

.segmentSeparator{
    background: none !important;
    height:6px !important;
    margin: 0 !important;
}